<h1>Home Page</h1>
<hr>
<p><%= link_to "Create New Goal", new_goal_url %></p>
<p><%= link_to "Completed Goals", completed_goals_url %></p>
<p><%= link_to "Incomplete Goals", incomplete_goals_url %></p>


<ul>
<% @goals.each do |goal| %>
<li><%= link_to goal.title, goal %></li>
<% end %>
</ul>